dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal-dev
cabal.config
cabal.sandbox.config
flycheck_*.hs
*.prof
*.aux
*.hp
*.eventlog
*.swp
*.tag
*~
/TAGS
/tags
/_release/
/.idea/
/*.iml
.stack-wrk/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
result
my-xmonad.cabal
